<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxvs6npXDdub9SIGeRU8mJLyewd8hymNc</string>
	<key>GCM_SENDER_ID</key>
	<string>58975214202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthCare</string>
	<key>PROJECT_ID</key>
	<string>healthcare-d57d1</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-d57d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58975214202:ios:d09d3bf1a22f5383d079c3</string>
</dict>
</plist>